<div Style="margin-top:50px">
    AutoGrow = false
    <MudTextField  T=string Label="AutoGrow = false" Variant="Variant.Filled" /> 
</div>

<div Style="margin-top:50px">
    AutoGrow = true
    <MudTextField  T=string Label="AutoGrow = true" Variant="Variant.Filled" AutoGrow/> 
</div>

<div Style="margin-top:50px">
    AutoGrow = false, Margin = Dense
    <MudTextField Margin="Margin.Dense" T=string Label="AutoGrow = false, Margin = Dense" Variant="Variant.Filled" />
</div>

<div Style="margin-top:50px">
    AutoGrow = true, Margin = Dense
    <MudTextField Margin="Margin.Dense" T=string Label="AutoGrow = true, Margin = Dense" Variant="Variant.Filled" AutoGrow/> 
</div>